
.home-design {
    height: 88vh;
    width: 100vw;

    background-color: darkgray;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carlosManda {

    height: 10em;
    margin: 1em;
    
}

.videoclub {

    display: flex;
    flex-direction: row;

}